# Exclude large CSV datasets
*.csv

# Exclude frontend local builds & node modules
echolink_frontend/node_modules/
echolink_frontend/dist/
screenshots/

# Exclude git & test caches
.git/
.pytest_cache/
.github/

# Exclude python environments
.venv/
venv/
env/
ENV/
__pycache__/
